h1{
    font-size: 40px;
    text-align: center;
    color: rgb(67, 66, 66);
    background-color:  #f4f4f4;
    line-height: 45px;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 10px;
}

p{
    text-align: center;
    color: rgb(7, 7, 7);
    background-color:  #f4f4f4;
    line-height: 20px;
    font-family: Arial, sans-serif;
    
}

p1{
    text-align: left;
    color: rgb(7, 7, 7);
    line-height: 30px;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    
}
figure {
    display: inline-block;
    margin: 40px;
}